.embark
chains.json
config/production/password
config/livenet/password
config/development/devpassword
config/development/password
config/privatenet/password
config/testnet/password
coverage
dist
build/
lib/
!contracts/lib
node_modules/
.DS_Store

.mypy_cache
__pycache__

.idea
*.iml

